[2017-11-10 06:24] davidyuk opened #3 "Publish this package on NPM"
In `README.md` is said that this package can be installed using NPM:
[code]
But this package is not published yet:
[code]

[2017-11-10 09:48] muxe commented on #3
https://www.npmjs.com/package/@aeternity/aepp-components

[2017-11-10 09:48] #3 closed

[2017-12-22 16:22] emil-apeunit opened #21 "Bounty for new aepp-components - 100 AE"
All accepted PR's with new components that fit our [guidelines and quality standards](https://github.com/aeternity/aepp-components#contributing) will receive - 100 AE Tokens.

[2018-01-23 11:51] dadaphl opened #32 "aeButton; why emitting click event on click?"
Whats the benefit of emitting the click event on click? As far as i know, the click event can be registered to any component.

https://github.com/aeternity/aepp-components/blob/6ae8825d7a5ecbf56e8018b40db80364ae43cee1/src/components/aeButton/aeButton.vue#L2

[2018-02-03 17:36] acdbaykal commented on #32
@dadaphl,

I inserted

[code]

into aeButton.md and manually tested the behavior. When I remove that line I don't get a "CLICK" output on the console. So (oddly) it appears to be necessary.

[2018-02-05 10:27] #32 closed

[2018-02-12 18:00] dadaphl opened #49 "chevron.svg and chevron-down.svg"
chevron-down is just a 90deg rotated chevron, can we come up with a solution to rotate icons? We could introduce a prop for that or some dynamic resolution of rotation by name-rotation

[code]

[2018-02-12 18:35] dadaphl opened #50 "change :tokens to :units in aeAmountInput"
I think we should change the name to something more abstract. What if i want to use it to input lengths,
[code]
maybe we better call it "unit"?

[2018-02-14 14:42] dadaphl opened #51 "refactor chunk display of address from ae-identity"
Make use of grouped 'chunk' display of address without using  ae-identity

[2018-02-14 14:42] dadaphl commented on #51
<img width="440" alt="screen shot 2018-02-14 at 15 26 13" src="https://user-images.githubusercontent.com/415536/36210027-acb2f72e-119d-11e8-9668-9cc5651d1124.png">

[2018-02-14 14:43] dadaphl commented on #51
btw, ae account addresses are a 'bit' longer
[code]

[2018-02-14 14:45] dadaphl commented on #51
[code]

[2018-02-14 15:59] dadaphl commented on #51
account lenght is between 97 and 98 including the ```ak$``` part

[2018-02-14 16:51] dadaphl opened #52 "AeLabel without margin and without display:flex"
AeLabel should not have a margin and make assumptions about how it is displayed. It makes it difficult to display and position labels properly in an application

[2018-02-14 18:21] dadaphl opened #53 "remove max-width from AePanel"
margins and max-width should be controlled by parent component

[2018-02-16 13:05] Philip-Nunoo opened #55 "AeLabelledTextInput Not exported"
AeLabelledTextInput included in the latest version wasn't exported to be usable.

[2018-02-16 13:12] dadaphl commented on #55
seems like it was a mistake. Can you add it please?

[2018-02-16 16:10] davidyuk commented on #53
Do you have a particular case when it needed?

[2018-02-16 16:25] davidyuk commented on #52
In which case you need different margins of AeLabel? What wrong with displaying in flex mode?

[2018-02-16 16:48] davidyuk commented on #49
I think will be better to implement rotation as a separate prop of AeIcon.

[2018-02-19 20:53] acdbaykal commented on #49
@dadaphl,
nice suggestion but be aware that this is a breaking change. We'll need to make a major version bump to avoid breaks in apps who use chevron-down

[2018-02-20 09:00] davidyuk commented on #49
Lately, we have so a lot of breaking changes what I'm not sure that we should increase major version. Let's stuck somewhere in 2.x.x and add a notice that this api is not stable yet.
`chevron-down` probably used only in AeAmountInput.

[2018-02-20 14:52] #50 closed

[2018-02-21 09:54] #55 closed

[2018-02-28 17:37] acdbaykal opened #65 "Proposal: Generalizing our SCSS into variables, extandable classes, modules and functions"
There are a few styling themes used across our components and than there many used just for a single component.

The global ones should go into src/components/_extendables.scss
- A map of type/color:
`$map: {
 boring:$silver,
 normal: $grey,
 dramatic:$maegenta
...
}`

- A function to select the color
`@function getColorByType($t){
   @return map_get($map, $t)
}`

- all the font types defined in h

[2018-03-01 19:36] acdbaykal commented on #49
Issue was resolved (#59)

[2018-03-01 19:36] #49 closed

[2018-03-01 22:19] acdbaykal commented on #65
@Philip-Nunoo , @dadaphl and @davidyuk , please take a look at the changes I made in the branch  issue-65-examples. Feedback would be appreciated.

[2018-03-10 16:54] tillkolter opened #69 "Modify AeAddress validation to accept AE addresses"
I integrated the AeAddress field for the [æpp showcases](https://github.com/aeternity/aepp-showcases/tree/feature/faucet_initialisation) and found a validation warning for the æternity addresses.

![screen shot 2018-03-10 at 17 53 49](https://user-images.githubusercontent.com/590062/37244627-0f7f5a5e-248c-11e8-8cfe-75f91bd68358.png)

[2018-03-12 14:12] tillkolter commented on #69
`ak$3Q1hfV4j3HdKHyugyDSTsK9pm1nvBK3q72UYQ41UuRJ7ei1QWskoEPZzpzgk5WJCi4efcRrCvoLHMrE9PBG1WZ1zL8q5Bz`

[2018-03-19 15:38] SamLife91 opened #72 "Identity component broke on mobile breakpoint"
- prevent text overfloating
 - fix  ae-buttons layout in identity when mobile breakpoint is active

[2018-03-19 22:43] dadaphl opened #74 "AeInputAmount should not display chevron when only one unit is present"
The symbol should not be clickable. There should be no drop-down
[code]

# currently
<img width="549" alt="screen shot 2018-03-19 at 23 39 44" src="https://user-images.githubusercontent.com/415536/37626135-f972ba68-2bce-11e8-92b8-0daa75ce1336.png">

# expected
![screen shot 2018-03-19 at 23 39 44](https://user-images.githubusercontent.com/415536/37626182-2191e334-2bcf-11e8-8983-19d8e1d7db7e.png)

[2018-03-19 22:54] dadaphl opened #75 "AeInputAmount default display unit should be generated from units"
Default unit is AE even if AE doesn't exist in units prop.

# current
<img width="523" alt="screen shot 2018-03-19 at 23 53 34" src="https://user-images.githubusercontent.com/415536/37626555-c84be458-2bd0-11e8-8057-257c1395eb5f.png">

# expected
<img width="524" alt="screen shot 2018-03-19 at 23 53 13" src="https://user-images.githubusercontent.com/415536/37626558-cbc733e4-2bd0-11e8-985a-ab3fae7af

[2018-03-21 15:32] acdbaykal opened #77 "Identity components need optional titles"
Identities have titles now.

[![Screenshot-2018-3-21_Zeplin_-_Project.png](https://s17.postimg.org/m3p1d6qhr/Screenshot-2018-3-21_Zeplin_-_Project.png)](https://postimg.org/image/l1euun7ob/)

[2018-03-21 15:50] acdbaykal opened #78 "Refactor identity"
The Identity components themselves should only contain the information about the identity without any background. The card like container should become a separate component of its own. Then anyone can just add any buttons they like into these card like containers.

[![Screenshot-2018-3-21_Zeplin_-_Project.png](https://s17.postimg.org/m3p1d6qhr/Screenshot-2018-3-21_Zeplin_-_Project.png)](https://po

[2018-03-21 16:01] acdbaykal opened #79 "Restyle identity component's collapsed state"
The collapsed state needs to look like in the in the lower part of the image. With smaller fonts and truncate address.

[![Screenshot-2018-3-21_Zeplin_-_Project.png](https://s17.postimg.org/m3p1d6qhr/Screenshot-2018-3-21_Zeplin_-_Project.png)](https://postimg.org/image/l1euun7ob/)

[2018-03-22 13:20] acdbaykal commented on #78
For further clarification. aeIdenity should become limitted to these areas **(without background and without margin)**

[![Ids.png](https://s17.postimg.org/m228haaof/Ids.png)](https://postimg.org/image/gqnbwkoln/)

[2018-03-22 14:50] Philip-Nunoo commented on #78
https://github.com/aeternity/aepp-components/pull/80 update available here

[2018-03-23 09:47] acdbaykal commented on #78
The solution is part of Branch update-identities now

[2018-03-23 13:12] #74 closed

[2018-03-23 15:19] dadaphl opened #82 "Remove margin from AeHeader component"
In combination with other components the default margin causes layout issues

see https://github.com/aeternity/aepp-components#component-margins

# current behaviour
<img width="563" alt="screen shot 2018-03-23 at 16 16 42" src="https://user-images.githubusercontent.com/415536/37837502-a7b47b46-2eb5-11e8-813f-669f32686a50.png">

# expected behaviour
<img width="564" alt="screen shot 2018-03-23 at

[2018-03-26 08:41] andi-apeunit opened #83 "ae-address redesign"
New approach to our ae-address component including either an individual mnemonic name or a registered name which can be recognized by the red checkmark.

See use cases below:

![screen shot 2018-03-26 at 10 40 20](https://user-images.githubusercontent.com/36665485/37895637-3056513a-30e2-11e8-831b-7154c9355cc5.png)
![screen shot 2018-03-26 at 10 40 28](https://user-images.githubusercontent.com/3666

[2018-04-03 09:47] muxe opened #88 "Aeternity Addresses components"
following components should accept aeternity Base58 addresses:
* ae-address
* ae-address-input
* ae-identity

which might look like this

and can have different prefixes like (i think) ak, ok, th, bh, ...

keep in mind the address format might change again

[2018-04-03 10:04] dadaphl opened #89 "button type plain missing"
All button types were refactored to constant `TYPE_PROPERTY_VALUES` [1]. Seems like the button type `pain` got lost. As the the plain type is still in the design [1], I wonder if it was on purpose. Please have a chat with @raymundjacobs if it is still needed.

[1] https://github.com/aeternity/aepp-components/blob/c1ddb16e83fb2b7754bf139fe05159beaa913494/src/constants/index.js#L1-L6
[2] https://app

[2018-04-03 10:18] ricricucit opened #90 "All Aepp Components are loaded, even if the application only uses some."
I've been building my first VueJS Aepp, and even tho I've added only 2 components doind

`import { AeHeader, AeButton } from '@aeternity/aepp-components'`

This is the bundle I get out when running `webpack -p` (already compressed).

![screen shot 2018-04-03 at 11 42 19](https://user-images.githubusercontent.com/1016775/38242203-7e85df76-3734-11e8-8327-01038ff188b8.png)

*NOTE:*
* I also never use

[2018-04-03 10:48] dadaphl commented on #90
Could you please provide the `package.json` of your application?

`BN.js` is a dependency of  `ethjs-units`, which is a dependency of `aepp-components`

[2018-04-03 11:32] dadaphl commented on #83
I think `ae-address` should by default still look like the previous implementation.
This new representation should be a specific `layout` or `type`.

[2018-04-03 11:34] #75 closed

[2018-04-03 11:37] ricricucit commented on #90
Find the package.json of the app I'm building ATM: https://github.com/aeternity/beer-aepp/blob/master/package.json

I imagined `BN.s` came from there, but the "problem" it's that none of my included components (aeHeader and aeButton) actually need that dependency. What would be ideal, is that only _actual_ dependencies would be included.

This is not, in any way, something I can imagine being quic

[2018-04-03 12:08] acdbaykal commented on #89
@dadaphl ,
@davidyuk,
 do you remember why in https://github.com/aeternity/aepp-components/pull/28 plain was added as separate property  and not as a possible value of type?

[2018-04-03 12:28] raymundjacobs commented on #89
I remember talking about this a while ago with @davidyuk . So that we can turn make every button type into a plain one. So: ‘Normal Plain’ will have a transparent background + black text. ‘Exciting Plain’ transparent bg + exciting font colour. ‘Dramatic Plain’ transparent bg, with a dramatic font colour. This may help?

[2018-04-03 12:29] andi-apeunit commented on #83
Why “a specific”? Where do we have to use the old `layout`?

[2018-04-03 12:38] acdbaykal commented on #89
Hi @raymundjacobs,

thanks for the explanation. Do you still have use for this feature?

[2018-04-03 12:52] SamLife91 commented on #83
it's not big deal, but i think its good to have choices, i can make new layout to be by default also, and if we want to use old it can be easy done

[2018-04-03 15:04] muxe commented on #88
I created a quickfix version of ae-address-input https://github.com/aeternity/aepp-components/tree/base58address

ae-address already accepts ak$... addresses but the base58 regex could be better

ae-identity needs some love but the general problem is that a typical address right now is 97 characters which does not chunk into blocks very well :)

[2018-04-03 15:19] raymundjacobs commented on #89
@acdbaykal yes, at several places where we need a "link-like" button. For instance in the sign transaction and login screen.
![01 10-base-login](https://user-images.githubusercontent.com/30527251/38258577-29cde012-3763-11e8-99a4-7fc5b7e722c0.jpg)

[2018-04-05 21:04] acdbaykal commented on #89
@dadaphl ,
I would prefer to move all the plain state of aeButton into a new Component like aeLabelButton. I already have lost track of all the possible prop combinations and resulting appearances aeButton can have. Other than that I don't think there is anything to do for this issue. Other than maybe adding more examples with the plain property, to make it's functionality clearer.

[2018-04-05 21:17] dadaphl commented on #89
If I understand correctly, `plain` just means the background is transparent. The `type color` will be used as font color instead of background color.
If thats is true, i don't see why we should replicate aeButton as it will be the same, just with a different visual appearance.
Do you have a suggestion how to avoid duplicate code between aeButton and aeLabelButton if we would go with the aeLabelBut

[2018-04-06 03:45] davidyuk commented on #89
I have provided necessary examples with `plain` property here: https://github.com/aeternity/aepp-components/commit/931d0f92a6f545698cb1bcef462a191f2679a9b6#diff-3e31aad88f87ab1b8c37cfd6afb16e5e. But for some reason, these examples right now mixed with examples of `inactive` property: https://components.aepps.com/#ae-button.
I think examples will be more clear if we won't mix various properties in

[2018-04-06 14:39] dadaphl commented on #89
don't get rid of `invert` and property, its there for a reason.

`block` property also has a purpose, although one could argue that its the parent components job to override that.

[2018-04-06 23:31] #65 closed

[2018-04-06 23:32] #69 closed

[2018-04-10 14:31] acdbaykal commented on #90
@ricricucit In theory webpack should take care of the tree shaking.

[2018-04-17 11:13] dadaphl opened #95 "Better concept for font-size"
Not all aepps will be designed with the same fixed font-sizes in mind.

Im proposing to develop a size system for aepp-components in which the size can be overwritten by the developers by either setting a different base-font-size or changing the settings of each size directly.

Im proposing seven font-sizes: `xxs, xs, s, m, l, xl and xxl`

Each component (that has text) should decide for a default

[2018-04-17 11:21] dadaphl opened #96 "AeAddress, font-size needs to be adjustable / no default font size"
# Example from Explorer
## Actual
<img width="667" alt="screen shot 2018-04-17 at 13 18 46" src="https://user-images.githubusercontent.com/415536/38866743-2a7ddbea-4242-11e8-82fd-8b4345015f6c.png">
## Expected
<img width="670" alt="screen shot 2018-04-17 at 13 18 24" src="https://user-images.githubusercontent.com/415536/38866742-2a601dc6-4242-11e8-82a5-5c59aa4f72f0.png">

[2018-04-17 13:56] andi-apeunit commented on #95
# Yes!
Thinking of components in a **responsive** way is definitely one goal we have to aim for, not only in regards of design, but also in regards of development.

We should **never** understand designed components of the files we exchange in e.g. Zeplin as blueprints for component development.

## The idea
… of the components we’re developing and publishing can be described as **universal**, and

[2018-04-20 10:12] acdbaykal commented on #95
I used to work for the ICRC, and have developed  components for them. The web sites for the ICRC have different themes and also the font size is changeable. In ([http://e-brief.icrc.org/issue/new-technologies-and-the-modern-battlefield-humanitarian-perspectives](
http://e-brief.icrc.org/issue/new-technologies-and-the-modern-battlefield-humanitarian-perspectives/introduction/)) you can click the co

[2018-04-20 10:38] #78 closed

[2018-04-20 10:39] #79 closed

[2018-04-20 12:29] acdbaykal commented on #90
The suggestion on https://webpack.js.org/guides/tree-shaking/#mark-the-file-as-side-effect-free did not work.

https://github.com/webpack/webpack/issues/5944
https://github.com/webpack/webpack/issues/5923

[2018-04-24 10:00] #96 closed

[2018-04-24 14:34] dadaphl opened #103 "refactor ae-hash component from aepp-blockchain-explorer"
I created a ae-hash component that is similar to `ae-address`. At the moment its a pending PR in
 `aepp-blockchain-explorer` see https://github.com/aeternity/aepp-blockchain-explorer/pull/22

Should we added to aepp-components? Should we refactor the similarities between ae-hash and ae-address into a abstract/interface component or mixin?

[2018-04-24 23:12] acdbaykal commented on #90
@ricricucit, @dadaphl,
I was not able to facilitate webpack's tree shaking.However I came up with an ok solution I think. I edited the build process to include each component as a separate importable file. Every component can also be imported as in
[code]

I suspect that It introduces duplication. If two or more imported components share subcomponents, than webpack probably will include the shared

[2018-05-07 10:18] #77 closed

[2018-05-29 09:51] andi-apeunit opened #110 "visual representation of addresses and hashes … [DISCUSSION]"
# Introduction
In this issue I’d like to give you a short introduction to the topic of address and hash visualization and I’d like to ask you to take part in a discussion on how we could implement and style this idea for our æpps and components.

# Purpose
The general purpose of visually representing some address or hash is that we want—and also need—something easily knowable or human-readable whe

[2018-05-29 12:26] andi-apeunit opened #111 "typeface for displaying addresses, hashes, names, and amounts"
# Introduction
We need to aim for displaying addresses, hashes, names (AENS), and amounts in the best possible way, which means readability in general and distinguishability when it comes to specific characters (glyphs and/or figures).

Lots of typefaces—including [Roboto Mono](https://fonts.google.com/specimen/Roboto+Mono) which we’re using for this purpose right now—have huge problems when it co

[2018-05-30 07:41] andi-apeunit commented on #110
You’re right about some relationship to secrets, though I wouldn’t ultimately generalize that.

Maybe it’s just a matter of wording? Maybe the term “mnemonic phrase” is counter-intuitive, it should be “mnemonic secret” …

Also, though I don’t think the word “mnemonic” is the problem here, we don’t have to call the mnemonic usernames consisting of formula `adjective` `color` `orb`—for example—“mnem

[2018-05-30 13:45] jsnewby commented on #111
I like this font very much.

[2018-06-04 10:43] davidyuk commented on #111
So, for addresses, this problem is solved by Base58 encoding, for mnemonic usernames, we can avoid this problem by defining a set of words that corresponds to paragraph B from [BIP-39](https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki#wordlist).
Maybe will be more convenient to use usual fonts instead of monospace for names with variable length (including AENS) like most of the web br

[2018-06-04 11:05] davidyuk commented on #110
Is it possible to use names in AENS instead of identicons? Probably identicons is actual only in the case of signing by a device without connection to the internet (like AirGap or Ledger).

[2018-06-04 13:20] andi-apeunit commented on #111
Unfortunately, no. This still depends on the typeface displaying the characters and figures. Please have a look at the figure `1` and the lowercase character `l` in the screenshot above (left character and figure set, first row).

Thank you for that link. If I’m not wrong on this, when we’re talking about “mnemonic” phrase/secret/username, we ultimately mean that specification of a wordlist. Thoug

[2018-06-04 13:23] andi-apeunit commented on #110
In my opinion we should always—if not impossible for reasons—display identicons as graphical identifier plus the unique personal (mnemonic) user identifier or, if registered, the AENS name.

So yes, we should—if there’s one registered—display the AENS name, though instead of the unique personal (mnemonic) user identifier and not instead of the identicon.

[2018-06-04 13:47] davidyuk commented on #111
I mean that for the user should be obvious what character is used from the context. For example `l` in `lemon` cannot be read as capital letter `i`. Also, mnemonic words are don't contain numbers and usually lowercase, so there a no problems with `0` and `O`, `1` and `I` and `l`.

[2018-06-04 13:54] andi-apeunit commented on #111
That’s totally correct. But we also need to think about AENS names, which for example would allow `hello.aet` and `he11o.aet` and there you’d have the problem of figure `1` and lowercase character `l`.

So the following … could easily be read as figure `1` …

<img width="398" alt="screen shot 2018-06-04 at 15 51 38" src="https://user-images.githubusercontent.com/36665485/40921264-420a55c0-680f-11e

[2018-06-04 14:13] davidyuk commented on #111
The is no such problem in usual Roboto:
![screenshot from 2018-06-04 16-05-20](https://user-images.githubusercontent.com/9007851/40921963-305824d6-6811-11e8-89d5-3cbf87abd704.png)
In this font all letters are distinguishable if make them lowercase:
![screenshot from 2018-06-04 16-12-04](https://user-images.githubusercontent.com/9007851/40922266-16a54144-6812-11e8-8d9f-b614f3aba032.png)

[2018-06-04 14:19] andi-apeunit commented on #111
That’s true. But no non-technical user can definitely **know** out of the box that we don’t use uppercase letters in our AENS names or unique personal user identifiers. They **could** guess so, but we want to be as precise as possible.

So, without **knowing** that you only used lowercase letters in the second image you provided, some user **could** think that the second character is an uppercase

[2018-06-08 16:05] andi-apeunit commented on #111
The **aeternity mono** font family for desktop and web can be found in the newly created repository github.com/aeternity/[aternity-mono](https://github.com/aeternity/aeternity-mono) … enjoy testing and please report any issues you might maybe experience under certain circumstances.

[2018-06-20 10:45] davidyuk opened #117 "Invalid meaning of type property of AeButton"
HTML Button element has a [`type`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#attr-type) attribute, AeButton should be able to proxy value of this attribute to the underlying Button component, but actually `type` property is already used for AeButton style (`color`/`background-color`). We should rename `type` property of AeButton or introduce one more property for this reason

[2018-08-22 14:24] sadiqevani opened #128 "Remove .githooks pre-commit rules"
Task: Remove .githooks pre-commit rules

[2018-08-23 04:06] #128 closed

[2018-09-13 03:38] sqevani opened #154 "Drop example code and Add contribution folder"
See comment: https://github.com/aeternity/aepp-components/pull/139#issuecomment-420872933

[2018-09-13 04:09] sqevani opened #155 "List of changes for develop branch"
### List of changes for `develop` branch

- [x] drop useless comments ("Component Name", "Exporting", "---***Index***---" and so on)
- [x] use single file components (https://vuejs.org/v2/guide/single-file-components.html)
- [x] choose one of eslint-config-standard or eslint-config-airbnb, drop custom configs introduced in https://github.com/aeternity/aepp-components/pull/129
- [x] revert unexplic

[2018-09-21 07:13] ror-shubham opened #158 "'invert' tag in ae-button not working as expected"
![capture](https://user-images.githubusercontent.com/18702420/45865613-b6d82800-bd9b-11e8-8a48-bc58ef5c1725.PNG)
In screenshot, The last two buttons has inverted tag switched on.

[2018-09-23 23:43] drhus commented on #110
I've been working on a similar implementation for Hash _(and general purpose large identifier)_ Visualization, but in addition to recognizability, a capacity to describe and transmit both online and via voice channels. I've shared an introduction here https://ethresear.ch/t/wallet-shape-address-human-friendly-visualization-of-wallet-address-momcode/3482

and you can check out the test-lab >> http:

[2018-09-24 06:48] #155 closed

[2018-09-25 15:19] emilsomm opened #164 "ae-icon to unflexible"
I would suggest to change the neutral option of the icon to `color: inherit;` and not `color: #000000;`
This would truly be neutral, and we wouldn't have to overwrite it later. Which can be difficult.

On the explorer the components also need updating

see screenshot below from my latest contribution to the explorer. In this situation i would use the neutral option as described above to give it a

[2018-09-25 15:33] emilsomm opened #165 "color magenta"
`$maegenta: #f03c6e;` is this a pun on the color name magenta? if so, its used inconsistently. in the aeternity explorer its $magaenta: #f03c6e;

I would suggest the variables are for utility and something that should be easy to remember. The right spelling would help with this, i think 😃

[2018-09-25 16:41] davidyuk commented on #164
In the current version of the components package we are using [`fill`](https://github.com/aeternity/aepp-components/blob/d315ebbcad7f63e3a64a64194a3111ff6d0451d0/src/components/aeIcon/aeIcon.scss#L14) property to change icon color, it doesn't support `inherit` value. It can be implemented in a future version since AeIcon will be based on font file instead of inlined SVGs.

[2018-09-25 16:56] davidyuk commented on #165
Completely agree! In a new version of components package, we have a completely different color palette with new names.
![aepp-color-palettes](https://user-images.githubusercontent.com/9007851/46029797-a6ee7a00-c0f4-11e8-8d91-e8b13c39ceb8.png)

[2018-09-26 08:56] emilsomm commented on #165
Looks very promising. When can we use it on the explorer?

[2018-10-10 14:10] sadiqevani opened #186 "Create a snippet of card to be used on the documentation"
Issue: https://github.com/aeternity/aepp-components/pull/178#discussion_r223778888

[2018-10-11 09:52] sadiqevani opened #188 "Add the new Icons to the ae-icon component"
Based on @davidyuk request:

[2018-10-11 10:39] sadiqevani opened #190 "Drop stack.scss from the styles"
Based on: https://github.com/aeternity/aepp-components/pull/178#discussion_r224397002

[2018-10-11 10:42] #188 closed

[2018-10-11 14:21] #190 closed

[2018-10-23 08:46] sadiqevani opened #197 "ae-address copy to clipboard needs to be disabled on condition"
https://github.com/aeternity/aepp-components/pull/196#issuecomment-431850706

[2018-10-26 10:39] sadiqevani opened #199 "base58check as a directive in the component library"
base58check as a directive in the component library

[2018-10-29 07:11] davidyuk commented on #199
Maybe just to define filter? I don't think that changes in components are necessary:
[code]

[2018-10-29 16:40] edwarddikgale commented on #199
@davidyuk 's proposal is more re-usable solution because can be used in/with all kinds of tags....

[2018-10-29 16:46] sadiqevani commented on #199
The problem is not to encode the address, but to decode it, and to verify that the address is a valid base58.

[2018-10-29 16:47] sadiqevani commented on #199
Though the comment in there was just a rushed down idea while talking with Emil, so for now I have no actual solution on how to implement this check, i'll look into it this week.

[2018-10-30 04:56] davidyuk commented on #199
You have not mentioned it, can you just use `decodeBase58Check` instead?

this issue is related: https://github.com/aeternity/aepp-sdk-js/issues/100

[2018-10-31 18:11] sadiqevani opened #202 "Copy to clipboard address w/ a different UX"
Task: Copy to clipboard address w/ a different UX

Description: When coping an address implement a mechanism that requires a secondary input or a short waittime until the address is copied.

Also display the full address on hover but with default computer UI/forms.

[2018-11-05 08:26] davidyuk commented on #202
This task is unclear to me. For what reason secondary input or waittime is needed?

Add `title` attribute to the root node of address component?

[2018-11-08 14:24] sadiqevani commented on #202
@davidyuk

The idea is that the user might not want to copy the address when clicking, maybe there needs to be a throttle that waits a bit until the address gets copied.

If you have the latest chrome version, and you have a mac, you might have noticed that to quit chrome now you need to press CMD + Q and keep Q pressed. Some similar mechanism.

Yes this was the aim.

[2018-11-08 14:41] sadiqevani commented on #199
I'll check that out, when I have some time to work on aepp-components.

[2018-11-09 11:47] edwarddikgale opened #206 "A test issue"
Created by Eddie

[2018-11-09 11:49] #206 closed, assigned to nobody

[2018-11-09 17:04] sadiqevani opened #208 "ae-input needs to accept default attributes and apply them to input element"
Task: ae-input needs to accept default properties and apply them to input element. When you want to add default attributes of an input element, we need to apply the properties in `input` element, for example adding `min` or `max`

[2018-11-22 12:23] ricricucit opened #214 "Tree-shaking for mixins"
Based on PR https://github.com/aeternity/aepp-components/pull/212, let's test tree-shaking.

1. [ ] take that piece of example
2. [ ] use it in some app
3. [ ] make sure mixins are tree-shaked

[2018-11-22 12:32] ricricucit opened #215 "Semver"
Based on PR https://github.com/aeternity/aepp-components/pull/212, let's discuss in this issue, how/when semver can be used.

[2018-11-22 12:33] ricricucit commented on #215
I opened this to unblock PR #212 and solve non-blocking issues in here and implement solutions later on.

[2018-11-28 15:37] artem-rozhkov-dev-optima commented on #208
Do we have any updates with this issue?

[2018-11-30 16:42] sadiqevani commented on #208
@artem-rozhkov-dev-optima we're working on a solution.

[2018-12-03 17:26] sadiqevani commented on #164
See #219

[2018-12-05 11:50] sadiqevani opened #220 "Create ae-input-[custom] specific components for different input options"
Task: Create ae-input-[custom] specific components for different input options

Description: We need to support a multitude of input components, that have different functionalities, and depending on a single component for this responsibility might a scalable solution.

Proposed solution for this is:

- `ae-input` would be the wrapper for every input, and wont provide any functionality except basic

[2018-12-11 10:55] sadiqevani opened #222 "Improve the README.md file with up to date examples."
The readme.md is a bit confusing having references from old components, it needs to be updated.

[2018-12-20 14:43] kenodressel opened #226 "Fix the ae-header component in v3"
In aepp-compoenents-3 the `ae-header` component is currently not displaying a proper styling.

[2018-12-20 15:18] kenodressel opened #227 "ae-identiy component in v3 throws an error on use"
The ae-identity component throws an error:
[code]
with the code
`<ae-identity :address="pub" :balance="balance"></ae-identity>`
with `pub = ''` and `balance = 0`

[2018-12-20 18:06] davidyuk opened #228 "Don't set the font size of the body element"
https://www.w3.org/Style/Examples/007/units.html

As I understand from this document, sizes in rem has no difference with sizes in pixels because we have set [font-size: 16px to html and body](https://github.com/aeternity/aepp-components/blob/15cf40c71a019d2bedf91720268abf356f38cb94/src/styles/rules.scss#L18) elements.

[2019-01-07 11:53] kenodressel opened #230 "Make backdrop transparency adjustable"
The ae-backdrop component has a low alpha value which makes containing text hard to read. It would be good to let the user adjust the backdrops transparency for their purpose.

[2019-01-07 14:24] kenodressel opened #232 "ae-text primary color is not equal to button primary color"
the primary text is #bd2a67 while the primary button color is #ff0d6a.

[2019-01-07 14:27] kenodressel opened #233 "ae-text align does not work"
one property of ae-text is supposedly align which among other values can take 'center` but any value has no effect.

[2019-01-07 14:43] sadiqevani commented on #233
@kenodressel Fixed https://github.com/aeternity/aepp-components/pull/235

[2019-01-07 14:44] sadiqevani commented on #232
@kenodressel this is on purpose.

[2019-01-07 14:50] kenodressel commented on #232
Interesting. Maybe it would be nice to give the developer a choice as there is a wide variety of "primary" colors as documented in #165

[2019-01-07 14:56] sadiqevani commented on #228
https://github.com/aeternity/aepp-components/pull/236

[2019-01-07 14:57] #222 closed, assigned to sadiqevani

[2019-01-07 15:19] sadiqevani commented on #233
I'm closing this ticket, since the PR solves this issue.

[2019-01-07 15:19] #233 closed, assigned to nobody

[2019-01-07 15:19] sadiqevani commented on #232
@kenodressel maybe we can do this on a future plan, but needs to be discussed with @raymundjacobs  and also I would like to avoid making this component really complex and adding more props to change colors, etc.

[2019-01-07 15:21] sadiqevani commented on #230
@kenodressel how are you using backdrop? Its not meant to work as standalone with text over it. It should mainly contain:

- Modals
- List box items
- Panels (a component which I think needs to be developed)

[2019-01-07 15:22] sadiqevani commented on #228
Closing this due to PR being opened.

[2019-01-07 15:22] #228 closed, assigned to nobody

[2019-01-07 15:28] sadiqevani commented on #227
Closing b/c of the PR https://github.com/aeternity/aepp-components/pull/237

[2019-01-07 15:28] #227 closed, assigned to nobody

[2019-01-07 15:28] sadiqevani commented on #226
@kenodressel Can you show me what is a proper style that you need to get from ae-header?

[2019-01-07 15:42] kenodressel commented on #230
Currently the header on non-mobile devices reads "Go To Main Page" in addition to the specified title as './assets/logo-small.png' can not be loaded. Other than this the styling looks significantly better compared to when i initially opened this issue.

[2019-01-07 15:46] kenodressel commented on #226
Currently the header on non-mobile devices reads "Go To Main Page" in addition to the specified title as './assets/logo-small.png' can not be loaded. Other than this the styling looks significantly better compared to when i initially opened this issue.

[2019-01-07 15:52] kenodressel commented on #230
Okay that was a error on my side then. I added ae-card ontop of the backdrop but ae-panel would be nice to have in the future.

[2019-01-07 15:52] #230 closed, assigned to nobody

[2019-01-08 05:08] davidyuk opened #238 "Should AeText become deprecated?"
This component looks super similar to `font` tag. For some reason, `font` tag marked as [obsolete](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/font) in HTML 4, 5. I think we should investigate why this happened and ensure that usage of AeText is not a bad practice.

[2019-01-08 11:37] sadiqevani commented on #226
@kenodressel

For this component, I just went and checked its state, and the logo should load without any issue. https://www.dropbox.com/s/9w7lh9a2sjhcpyf/Screenshot%202019-01-08%2012.36.46.png?dl=0

Maybe there's some kind of problem with your webpack loaders, the reason might be is that they might not load `.png` files! Can you verify this?

[2019-01-08 12:03] davidyuk commented on #220
We have built some of them in https://github.com/aeternity/aepp-base/tree/develop/src/components

[2019-01-08 12:32] sadiqevani commented on #220
@davidyuk  You can make a PR and send the components over!

[2019-01-08 15:20] sadiqevani commented on #197
See https://github.com/aeternity/aepp-components/pull/239

[2019-01-08 15:20] #197 closed, assigned to sadiqevani

[2019-01-08 15:21] sadiqevani commented on #232
Also I think this is a design decision! If you think of the context in which `ae-text` will work, is under buttons and under primary colors, and having it the same as the background, does not make sense.

[2019-01-08 15:22] sadiqevani commented on #220
`ae-input-range`: https://github.com/aeternity/aepp-components/pull/240

[2019-01-08 15:54] kenodressel commented on #232
You can handle it as you desired I would appreciate if there is a possibility to model a headline in the ae primary color but i can also do it with css. So no worries.

[2019-01-08 15:56] sadiqevani commented on #232
@kenodressel the purpose of `ae-text` is not to replace `p, span, h1, h2, h3, h4,h5, h6`, but more like in case you need some custom paragraph styles, and don't really wanna use css to set these texts.

But I will see if we can update `ae-text` with more colors and applications.

[2019-01-09 12:12] emilsomm opened #243 "ae-address style"
When using the `ae-address` component for the redesign of the Blockchain Explorer I have met some problems using this component.

__Expected Behavior:__

what i need is this

<img width="346" alt="screenshot 2019-01-09 13 14 02" src="https://user-images.githubusercontent.com/20213342/50898811-8d0d4480-1410-11e9-9a27-5c67b7ca282a.png">

__Current Behavior:__

but what im getting is
<img width="494"

[2019-01-10 05:45] davidyuk commented on #243
@emilsomm I think grid/flex is not necessary for this component, in the Base app we are using own plain-text version that looks actually as on the first screenshot you have sent.
https://github.com/aeternity/aepp-base/blob/develop/src/components/AeAddress.vue

[2019-01-10 22:24] davidyuk opened #245 "Enable recommended rule set of `eslint-plugin-vue` for better code consistency"
https://vuejs.github.io/eslint-plugin-vue/user-guide/#usage

[2019-01-11 14:01] sadiqevani opened #247 "Cleanup example code"
Based on this PR here, since is outdated, we need to cleanup some of the examples, and also improve documentation:

https://github.com/aeternity/aepp-components/pull/139
https://github.com/aeternity/aepp-components/pull/180

[2019-01-11 14:06] sadiqevani commented on #245
The rules are too strict, there's a big list of items that need to be refactored/arranged if we set that specific rule. But its on the table for future implementation

[2019-01-11 14:09] sadiqevani commented on #238
This is a bit out of a scope, with `aepp-components` we're not trying to define the HTML5 or 6 or define any standards, we're developing components to make our apps easier to build. I don't see any point in removing `ae-text` as it lets you define text based on the typography we have. So its consistent throughout the applications.

[2019-01-11 14:09] #238 closed, assigned to nobody

[2019-01-18 08:29] kenodressel opened #248 "Allow ae-loader in any size"
I would like `ae-loader` to have an option for scaling. The size of the current loader is not big enough to be the central loading circle on a page.

__Expected Behavior:__
There would be an option to set the width / height of the loader.

__Current Behavior:__
There is none

__Possible Solution:__
I am currently applying custom classes which modifies the border-radius, padding and width

[2019-01-24 10:06] kenodressel opened #249 "add minus icon to ae-icon"
to complement the `plus` icon a minus icon would be nice to have

[2019-01-25 07:53] davidyuk opened #253 "Combine <ae-button face="icon" /> and <ae-icon face="round" />"
face="icon" of AeButton looks the same to face="round" of AeIcon, except they have different sizes.

Are we have something similar to AeIcon face="round" in designs? Is it button or just an icon in these cases?

__Possible Solution:__
Both of them looks like a button, so to drop `face` property of AeIcon, make the size of AeButton with icon adjustable, if necessary.

[2019-03-02 19:02] davidyuk opened #257 "Find a replacement for "clipboard-copy" package that compatible with Cordova"

[2019-03-04 15:52] davidyuk commented on #257
`copy-to-clipboard` package looks to be a good alternative
https://github.com/aeternity/aepp-base/pull/424

[2019-03-11 15:21] kenodressel opened #258 "Add hint to users that this repo uses .mjs files"
I experienced an issue making the drone-aepp, which includes the aepp-components as a dependency, es2015 compliant. The problem was in my configuration was not picking up `.mjs-files`. This led to the dependency `@download/blockies` not being polyfilled or transpiled by babel. I think it would be nice to add a hint of that to the README section. Additionally it would be great to check if the depen

[2019-08-15 11:23] kenodressel opened #259 "Update Dependencies to allow for node versions > 10"
the dependency `node-sass` is stated as version `4.9.2` in package.json which results in errors when trying to compile the dependency on systems with a higher node version than 10 (current: 12.x).

[2019-08-15 11:24] kenodressel commented on #259
I will take a look at this and provide a pull request.